.search__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.search__item {
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    width: 70%;
}
.search__item:focus {
    outline: none;
}