.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cardsContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 1068px;
    min-height: 636px;
    background-color: #FEFEFF;
    border-radius: 8px;
    position: relative;
    filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow {
    font-size: 33px;
    text-decoration: none;
    margin: 0 11px;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 960px;
}

.table {
    width: 960px;
    min-height: 432px;
    border-radius: 3px;
    margin: 10px auto;
    filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));
}

.gradeTitle {
    margin-right: 11px;
}

.gradeTitle:last-child {
    margin-right: 18px;
}

.card {
    width: 100%;
    min-height: 48px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:nth-child(n) {
    padding: 0 20px;
}

.card:nth-child(odd) {
    background-color: #F8F7FD;
}

.card:first-child {
    background-color: #ECECF9;
    font-weight: bold;
}

.qaSections {
    width: 30%;
    text-align: left;
}

.cardInfo {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardInfoWithActions {
    width: 40%;
}

.actionsBtn {
    width: 55px;
    height: 33px;
    font-size: 14px;
}

.actionsBtn:first-child {
    margin-right: 3px;
}

.paginator {
    margin-bottom: 10px;
    margin-left: 48px;
    align-self: flex-start;
}