.superInput {
    width: 347px;
    height: 48px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1.58px solid #24254A ;
    background: #F9F9FE;


}

.errorInput {
    border: 2px solid red;
}


.error {
    color: red;
}