.default {
    background: #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    width: 187px;
    height: 36px;
}

.default:hover {
    background-color: #D7D8EF;
}
.red {
    background: red;
}
.registrationCancel{
    background: #D7D8EF;
    border: 1px solid #D7D8EF;
    border-radius: 30px;
    width: 124px;
    height: 36px;
}
.registrationCancel:hover {
    border: 2px solid  #21268F;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}

.red:hover {
    background-color: darkred;
}

.disabled {
    font-size: 17px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}